body {
    background: #fefefe;
    margin: 0;
    font: 5vw/1 sans-serif;
    color: #333;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    margin: .25em 0 .5em;
}

nav {
    padding: 1em;
}

a,
button {
    text-decoration: none;
    font-size: inherit;
    padding: .5em 1em;
    background: #dfdfdf;
    border: 0;
    color: #3e3e3e;
    border-radius: .25em;
}

button {
    margin: 0 2em;
}

a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus {
    background: #3e3e3e;
    outline: 0;
    color: #fff;
}

button.correct {
    background: #4CAF50;
    color: white;
}

button.incorrect {
    background: #F44336;
    color: white;
}

.correct,
.incorrect {
    position: relative;
}

.correct::after,
.incorrect::after {
    position: absolute;
    top: 50%;
    line-height: 0;
    font-size: 10vw;
}
.correct::after {
    content: '\002714';
    color: #4CAF50;
    right: -1.3em;
}

.incorrect::after {
    content: '\002717';
    color: #F44336;
    right: -1em;
}
