img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 4em;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 5vw #ddd;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: block;
    margin: 1em auto 0;
    width: 45%;
}

button {
    padding: .2em;
    background: transparent;
    border: .25em solid transparent;
}

button:hover,
button:active,
button:focus {
    border: .25em solid #3e3e3e;
}

button.correct {
    border: .25em solid #4CAF50;
}

button.incorrect {
    border: .25em solid #F44336;
}

button.correct img,
button.incorrect img,
button:hover img,
button:active img,
button:focus img {
    box-shadow: none;
}
