<div *ngIf="selectedCountry" class="flag-container">
    <img src="/svg/{{selectedCountry.iso3 | lowercase}}.svg" alt="Flag" width="300" />
</div>

<ul class="countries" class="cf">
    <li *ngFor="#country of countries">
        <button (click)="onSelect(country)"
            [class.correct]="selectedCountry == country && chosenCountry"
            [class.incorrect]="chosenCountry !== selectedCountry && chosenCountry == country">
            {{country.country}}
        </button>
    </li>
</ul>
