.flag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
}
img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 10em;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 5vw #ddd;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    display: block;
    margin: 1em auto 0;
    width: 90%;
}
